<!DOCTYPE html>
<html>
  <body class="bk_user">
    <center>
      <h1><%= @user.first_name %></h1>
      <br><br>
        <li class="bullet">
          Prénom : <%= @user.first_name %>
        </li>
        <li class="bullet">
          Nom : <%= @user.last_name %>
        </li>
        <li class="bullet">
          Description : <%= @user.description %>
        </li>
        <li class="bullet">
          Email : <%= @user.email %>
        </li>
        <li class="bullet">
          Age : <%= @user.age %>
        </li>
        <li class="bullet">
          Ville : <%= link_to @city.name, "/cities/#{@city.id}", :class=>"my_link" %>
        </li>
    </center>
  </body>
</html>