<!DOCTYPE html>
<html>
  <body class="bk_index">
    <center>
      <h1>ACCUEIL</h1>
      <br>
      <p>Voici la liste des potins :</p>
    
      <!-- POST-IT START -->
      <div class="container bootstrap snippets bootdeys">
        <div class="row">
          <% @titles.reverse_each.with_index do |gossip, index| %>
          <% inc = index % 6 %>
            <div class="col-4 content-card">
              <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="<%= @colors[inc] %>" data-radius="none">
                  <div class="content">
                    <h6 class="category">par <a href="/users/<%= gossip.user.id %>"><%= gossip.user.first_name %></a></h6>
                    <h4 class="title"><a href="/gossips/<%= gossip.id %>"><%= gossip.title %></a></h4>
                    <p class="description"><%= gossip.content %></p>
                  </div>
                </div> <!-- end card -->
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- POST-IT END -->
    </center>
  </body>
</html>
