<!DOCTYPE html>
<html>
  <body class="bk_gossip">
    <center>
      <h1>Créer un nouveau potin</h1>

      <div class="card text-white bg-dark mb-3" style="width: 32rem;">
        <div class="card-body">
          <%= form_tag('/gossips', method: 'post') do %>
            <br>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= label_tag :title, "Nom du potin:" %><br>
            <%= text_field_tag :title, nil %><br><br>
            <%= label_tag :content, "Le contenu de votre potin:" %><br>
            <%= text_area_tag :content, nil, rows: 10, cols: 50  %>
            <br><br>
            <%= submit_tag "Envoyer" %>
            <br>
            <p></p>
          <% end %>
        </div>
      </div>
      <br><br>
      <% if @gossip.errors.any? %>
        <div class="alert alert-danger custom_alert" role="alert">
          <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
            <ul class="bullet">
              <li>Le titre doit avoir au minimum 3 characters et maximum 14 characters.</li>
              <li>Le content ne doit pas être vide.</li>
            </ul>
        </div>
      <% end %>

    </center>
  </body>
</html>
