<!DOCTYPE html>
<html>
  <body class="bk_gossip">
    <center>
      <h1><%= @index.title %></h1>
      <p>par <%= link_to "#{@user.first_name}", user_path(@user.id), :class=>"my_link" %></a> le <%= @index.created_at.strftime("%d/%m/%Y %H:%M") %> à <%= @city.name %></p>
      <br><br>
      <p><%= @index.content %></p>
      <br><br>
      <%= link_to "Editer le potin", edit_gossip_path, class: "button btn btn-outline-dark btn-light" %>
    </center>
  </body>
</html>